# Sample Summaries

## Tagged Colony Summaries

In [1]:
library(dplyr)
library(tidyverse)
library(ggplot2)
library(tidyr)
library(purrr)
library(stringr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ readr     2.1.5
✔ ggplot2   3.5.2     ✔ stringr   1.5.1
✔ lubridate 1.9.4     ✔ tibble    3.2.1
✔ purrr     1.0.4     ✔ tidyr     1.3.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
colony <- read_csv("/Users/brookesienkiewicz/Documents/sctld/SCTLD_samples/Sample_Data/CBC_ColonyData.csv", show_col_types = FALSE)

New names:
• `` -> `...1`

In [3]:
# change orbi rapid colony to ofav for now 
unique(colony$Species)
colony[colony$Species=='ORBI','Species']<- "OFAV"
unique(colony$Species)

 [1] "SSID" "PAST" "PSTR" "MCAV" "OANN" "ORBI" "DLAB" "MMEA" "OFAV" "CNAT"

[1] "SSID" "PAST" "PSTR" "MCAV" "OANN" "OFAV" "DLAB" "MMEA" "CNAT"

In [4]:
# summary of tagged colonies 
tagged_summarytable<-colony %>%
  group_by(Transect, Species) %>%
  summarise(n = n(), .groups = "drop") %>%
  pivot_wider(names_from = Species, values_from = n, values_fill = 0)

    # Add row totals
    tagged_summarytable <- tagged_summarytable %>%
      mutate(Total = rowSums(select(., -Transect)))
    
    # Add column totals
    totals_row <- tagged_summarytable %>%
      select(-Transect) %>%
      summarise(across(everything(), sum)) %>%
      mutate(Transect = "Total") %>%
      select(Transect, everything())
    
    # Combine
    tagged_summarytable <- bind_rows(tagged_summarytable, totals_row)
    tagged_summarytable

  Transect MCAV OANN OFAV PAST PSTR SSID DLAB MMEA CNAT Total
1 BB        6    7    6    6    6    6   0     0   0     37
2 CBC30N    9    2    1    5    7    8   2     2   0     36
3 CURLEW    5    1    4    0    5    0   2     0   0     17
4 HANGMAN   5    5    5    5    6    5   0     0   0     31
5 LAGOON   10    2    3    9   10   10   2     5   0     51
6 SR30N     7    2    4    6    9   11   2     6   1     48
7 Total    42   19   23   31   43   40   8    13   1    220

In [5]:
# summary of immune tagged colonies 
immune_summarytable<-colony %>%
  filter(`immune_y/n`=='y') %>%
  group_by(Transect, Species) %>%
  summarise(n = n(), .groups = "drop") %>%
  pivot_wider(names_from = Species, values_from = n, values_fill = 0)

    # Add row totals
    immune_summarytable <- immune_summarytable %>%
      mutate(Total = rowSums(select(., -Transect)))
    
    # Add column totals
    totals_row <- immune_summarytable %>%
      select(-Transect) %>%
      summarise(across(everything(), sum)) %>%
      mutate(Transect = "Total") %>%
      select(Transect, everything())
    
    # Combine
    immune_summarytable <- bind_rows(immune_summarytable, totals_row)
    immune_summarytable

  Transect MCAV OFAV PAST PSTR SSID Total
1 CBC30N    1   1    3    1    1     7
2 CURLEW    3   1    0    2    0     6
3 LAGOON    3   3    3    2    2    13
4 SR30N     3   2    3    0    3    11
5 Total    10   7    9    5    6    37

### Bleached

In [6]:
# remove colonies that died before bleaching event 
unique(colony$Date_DocumentedMortality)
class(colony$Date_DocumentedMortality)

 [1] "Diseased"               "Healthy"                "12/2/22"
 [4] "9/25/23"                "12/1/24"                "12/16/23"
 [7] "4/1/24"                 "4/26/24"                "8/1/24"
[10] "5/21/22"                "9/26/23"                "12/1/22"
[13] "5/22/22"                "12/4/22"                "1/11/24"
[16] "6/21/24"                "5/20/22"                "1/1/24"
[19] "5/24/23"                "12/3/22"                NA
[22] "Could not find 9/26/23"

[1] "character"

In [7]:
# viewing colonies that died in/around 9/2023
colony %>% 
    filter(Date_DocumentedMortality=='5/24/23') %>%
    select(contains("Condition"))
colony %>% 
    filter(str_detect(Date_DocumentedMortality, "^9/.*/23$")) %>%
    select(contains("Condition"))

# do i include dead colonies in 9/23? no?

  062019_Condition 052022_Condition 122022_Condition 092023_Condition
1 Healthy          Diseased         Diseased         Dead
  112023_Condition 122023_Condition 012024_Condition 022024_Condition
1 Not_Visited      Not_Visited      Not_Visited      Not_Visited
  042024_Condition 062024_Condition 082024_Condition 122024_Condition
1 Not_Visited      Not_Visited      Not_Visited      Not_visited
  062025_Condition
1 Not_visited

   062019_Condition 052022_Condition 122022_Condition 092023_Condition
1  Healthy          Healthy          Diseased         Dead
2  Healthy          Diseased         Diseased         Dead
3  Healthy          Diseased         Diseased         Dead
4  NA               NA               Diseased         Dead
5  Healthy          Healthy          Healthy          Dead
6  NA               NA               Diseased         Dead
7  NA               NA               Healthy          Dead
8  NA               NA               Healthy          Dead
9  NA               NA               Diseased         Dead
10 NA               NA               Diseased         Dead
11 NA               NA               Diseased         Dead
   112023_Condition 122023_Condition 012024_Condition 022024_Condition
1  Not_Visited      Not_Visited      Not_Visited      Not_Visited
2  Not_Visited      Not_Visited      Not_Visited      Not_Visited
3  Not_Visited      Not_Visited      Not_Visited      Not_Visited
4  Not_Visited      Not_Visited      Not_Visited      Not_Visited
5  Not_Visited      Not_Visited      Not_Visited      Not_Visited
6  Not_Visited      Not_Visited      Not_Visited      Not_Visited
7  Not_Visited      Not_Visited      Not_Visited      Not_Visited
8  Not_Visited      Not_Visited      Not_Visited      Not_Visited
9  Not_Visited      Not_Visited      Not_Visited      Not_Visited
10 Not_Visited      Not_Visited      Not_Visited      Not_Visited
11 Not_Visited      Not_Visited      Not_Visited      Not_Visited
   042024_Condition 062024_Condition 082024_Condition 122024_Condition
1  Not_Visited      Not_Visited      Not_Visited      Healthy
2  Dead             Not_Visited      Not_Visited      Not_visited
3  Not_Visited      Not_Visited      Not_Visited      Not_visited
4  Not_Visited      Not_Visited      Not_Visited      Not_visited
5  Not_Visited      Not_Visited      Not_Visited      Not_visited
6  Not_Visited      Not_Visited      Not_Visited      Not_visited
7  Not_Visited      Not_Visited      Not_Visited      Not_visited
8  Not_Visited      Not_Visited      Not_Visited      Not_visited
9  Not_Visited      Not_visited      Not_Visited      Not_visited
10 Not_Visited      Not_visited      Not_Visited      Not_visited
11 Not_Visited      Not_visited      Not_Visited      Not_visited
   062025_Condition
1  NA
2  NA
3  NA
4  NA
5  NA
6  Not_visited
7  Not_visited
8  NA
9  NA
10 NA
11 NA

In [8]:
clb_colony<-colony %>%
    # remove colonies that died in 2022 and 9/23
  filter(
    !str_detect(Date_DocumentedMortality, "/22") &
    !str_detect(Date_DocumentedMortality, "9/.*/23") &
    !str_detect(Date_DocumentedMortality, "5/.*/23")
  )
     
unique(clb_colony$Date_DocumentedMortality)

 [1] "Diseased" "Healthy"  "12/1/24"  "12/16/23" "4/1/24"   "4/26/24"
 [7] "8/1/24"   "1/11/24"  "6/21/24"  "1/1/24"

In [9]:
# Add bleach status column
clb_summary <- clb_colony %>%
  mutate(
    clb_y_n = if_any(everything(), ~ str_detect(., "CLB|CLP")),
    Status = case_when(
    clb_y_n ~ "Bleached",
    is.na(clb_y_n) ~ "Not Bleached", 
    TRUE ~ "Not Bleached"
    ))
      
# Count by Transect, Species, and Status
summary_tbl <- clb_summary %>%
  group_by(Transect, Species, Status) %>%
  summarise(n = n(), .groups = "drop") %>%
  pivot_wider(names_from = Species, values_from = n, values_fill = 0) %>%
  mutate(Total = rowSums(across(-c(Transect, Status))))

# Add row totals per Status
status_totals <- summary_tbl %>%
  select(-Transect) %>%
  group_by(Status) %>%
  summarise(across(everything(), sum)) %>%
  mutate(Transect = "Total") %>%
  select(Transect, everything())

# Add grand total row
grand_total <- summary_tbl %>%
  select(-c(Transect, Status)) %>%
  summarise(across(everything(), sum)) %>%
  mutate(Transect = "Total", Status = "Total") %>%
  select(Transect, Status, everything())

# Combine
clb_summarytable <- bind_rows(summary_tbl, status_totals, grand_total) %>%
  arrange(Transect, Status)

clb_summarytable

   Transect Status       MCAV OANN OFAV PAST PSTR SSID DLAB CNAT Total
1  BB       Bleached      4    7    6    6    4    0   0    0     27
2  BB       Not Bleached  2    0    0    0    2    6   0    0     10
3  CBC30N   Bleached      2    2    1    5    1    2   1    0     14
4  CBC30N   Not Bleached  0    0    0    0    0    5   1    0      6
5  CURLEW   Bleached      2    0    2    0    2    0   1    0      7
6  CURLEW   Not Bleached  1    1    2    0    0    0   1    0      5
7  HANGMAN  Bleached      3    4    3    1    6    1   0    0     18
8  HANGMAN  Not Bleached  2    1    2    4    0    4   0    0     13
9  LAGOON   Bleached      3    2    0    7    4    3   2    0     21
10 LAGOON   Not Bleached  1    0    2    0    0    5   0    0      8
11 SR30N    Bleached      4    2    3    2    2    9   1    1     24
12 SR30N    Not Bleached  1    0    1    3    0    0   1    0      6
13 Total    Bleached     18   17   15   21   19   15   5    1    111
14 Total    Not Bleached  7    2    7    7    2   20   3    0     48
15 Total    Total        25   19   22   28   21   35   8    1    159

In [10]:
# repeat for immune 
immune <-clb_summary %>%
  filter(`immune_y/n`=='y')
      
# Count by Transect, Species, and Status
summary_tbl <- immune %>%
  group_by(Transect, Species, Status) %>%
  summarise(n = n(), .groups = "drop") %>%
  pivot_wider(names_from = Species, values_from = n, values_fill = 0) %>%
  mutate(Total = rowSums(across(-c(Transect, Status))))

# Add row totals per Status
status_totals <- summary_tbl %>%
  select(-Transect) %>%
  group_by(Status) %>%
  summarise(across(everything(), sum)) %>%
  mutate(Transect = "Total") %>%
  select(Transect, everything())

# Add grand total row
grand_total <- summary_tbl %>%
  select(-c(Transect, Status)) %>%
  summarise(across(everything(), sum)) %>%
  mutate(Transect = "Total", Status = "Total") %>%
  select(Transect, Status, everything())

# Combine
clb_immunesummary <- bind_rows(summary_tbl, status_totals, grand_total) %>%
  arrange(Transect, Status)

clb_immunesummary

   Transect Status       MCAV OFAV PAST PSTR SSID Total
1  CBC30N   Bleached      1   1    3    1    1     7
2  CURLEW   Bleached      2   1    0    2    0     5
3  CURLEW   Not Bleached  1   0    0    0    0     1
4  LAGOON   Bleached      3   0    3    2    2    10
5  LAGOON   Not Bleached  0   2    0    0    0     2
6  SR30N    Bleached      3   1    2    0    3     9
7  SR30N    Not Bleached  0   1    1    0    0     2
8  Total    Bleached      9   3    8    5    6    31
9  Total    Not Bleached  1   3    1    0    0     5
10 Total    Total        10   6    9    5    6    36

In [11]:
# export 
write.csv(immune_summarytable, 'tables/immune_summarytable.csv', row.names=FALSE)
write.csv(tagged_summarytable, 'tables/tagged_summarytable.csv',row.names=FALSE)
write.csv(clb_summarytable, 'tables/clb_taggedsummary.csv',row.names=FALSE)
write.csv(clb_immunesummary, 'tables/clb_immunesummary.csv',row.names=FALSE)

In [12]:
## Bleaching Sample Summaries

### SCTLD

In [13]:
#### tagged colony summary that matches brooke's 03/2025 sequences

In [14]:
getwd()

[1] "/Users/brookesienkiewicz/Documents/Code_notebook"

In [15]:
sctld_samples <- read.csv("/Users/brookesienkiewicz/Documents/sctld/SCTLD_samples/Sample_Data/CBC_samples.csv")
samplelist<- read.table('seq_lists/genohublist_sctld2024.txt')
colnames(sctld_samples)

 [1] "Month_year"                   "Country"
 [3] "Location"                     "CollectionDate"
 [5] "Transect"                     "TransectNum"
 [7] "OldTagNum"                    "NewTagNum"
 [9] "Species"                      "Time_sampled"
[11] "Time_processed"               "Sample_type"
[13] "SampleNum"                    "Health_status"
[15] "Sampling_notes"               "Tubelabel_species"
[17] "Sample_physical_location"     "Extraction_physical_location"
[19] "Date_sequenced"               "Notes"

In [16]:
nrow(samplelist)
# extra 2 are negative controls

[1] 222

In [17]:
#filter for seq'ed in 2024 
sctld_samples<-sctld_samples %>%
    filter(Sample_type == 'Core_EtOH') %>%
    filter(Tubelabel_species %in% samplelist$V1)
nrow(sctld_samples)

[1] 220

In [18]:
# make colony tag ID for sample data 
transect_id <- paste0('T',sctld_samples$TransectNum)
sctld_samples$colony_id <- paste(transect_id, sctld_samples$NewTagNum, sctld_samples$Species,
                                 sep = "_")

In [19]:
# make colony tag ID for colony data 
transect_id <- paste0('T',colony$TransectNum)
colony$colony_id <- paste(transect_id, colony$NewTagNum, colony$Species,
                                 sep = "_")

In [30]:
# match samples to colony data 
sctld_colony <- colony %>%
    filter(colony_id %in% sctld_samples$colony_id)

# separate into diseased and healthy per species 
cols<- c('062019_Condition','052022_Condition','122022_Condition')
sctld_colony <- sctld_colony %>%
  mutate(
    health_status = case_when(
      if_any(any_of(cols), ~ str_detect(., "Dead")) ~ "SCTLD_Mortality",
      if_any(any_of(cols), ~ str_detect(., "Healthy")) ~ "Healthy",
      if_any(any_of(cols), ~ str_detect(., "Diseased")) ~ "Diseased",
      TRUE ~ "Healthy"
    )
  )

In [31]:
head(sctld_colony)
unique(sctld_colony$health_status)

  ...1 Date_InitialTag Transect TransectNum OldTagNum NewTagNum Species Meter
1  2   6/21/19         CBC30N   1           334       2         PAST     1.4
2  4   10/15/19        CBC30N   1           407       4         PSTR     6.5
3  6   10/15/19        CBC30N   1           413       6         PSTR     8.3
4  7   6/24/19         CBC30N   1           383       7         MCAV     6.0
5  8   6/24/19         CBC30N   1           390       8         MCAV    11.2
6 12   10/15/19        CBC30N   1           418       12        PSTR    14.7
  Meters_90 Direction ⋯ 122024_Condition 122024_Percentage Notes_122024
1 0.10      left      ⋯ NA               NA                NA
2 0.50      right     ⋯ Not_visited      NA                Dead
3 1.75      left      ⋯ Healthy          NA                95% mortality
4 1.70      right     ⋯ Dead             NA                Dead
5 0.80      right     ⋯ Not_visited      NA                NA
6 1.00      left      ⋯ Healthy          NA                5% mortality
  062025_Condition 062025_Percentage Notes_062025 immune_y/n checked_colonies
1 Healthy          NA                NA           y          x
2 NA               NA                NA           n          x
3 NA               NA                NA           n          x
4 NA               NA                NA           n          x
5 NA               NA                NA           n          x
6 Healthy          NA                NA           y          x
  colony_id  health_status
1 T1_2_PAST  Healthy
2 T1_4_PSTR  SCTLD_Mortality
3 T1_6_PSTR  Healthy
4 T1_7_MCAV  Healthy
5 T1_8_MCAV  Healthy
6 T1_12_PSTR Healthy

[1] "Healthy"         "SCTLD_Mortality" "Diseased"

In [33]:
# summary of healthy, diseased, dead 
summary_sctld <- sctld_colony %>%
  group_by(Species, health_status) %>%
  summarise(n = n(), .groups = "drop") %>%
  pivot_wider(names_from = Species, values_from = n, values_fill = 0)%>%
# add totals per health status 
  mutate(Total = rowSums(across(-c(health_status))))
summary_sctld

  health_status   MCAV MMEA OANN OFAV PAST PSTR Total
1 Diseased         3    0   1     1    0    3    8
2 Healthy         16    0   5    10   20   13   64
3 SCTLD_Mortality 11   10   0     0    0   15   36

In [34]:
# Add row totals per Status
status_totals <- summary_sctld %>%
  select(-health_status) %>%
  summarise(across(everything(), sum)) %>%
  mutate(health_status = "Total") %>%
  select(everything())
status_totals

In [37]:
# Combine
sctld_summarytable <- bind_rows(summary_sctld, status_totals) %>%
    arrange(factor(health_status, levels = c('Healthy','Diseased','SCTLD_Mortality','Total')))
sctld_summarytable

  health_status   MCAV MMEA OANN OFAV PAST PSTR Total
1 Healthy         16    0   5    10   20   13    64
2 Diseased         3    0   1     1    0    3     8
3 SCTLD_Mortality 11   10   0     0    0   15    36
4 Total           30   10   6    11   20   31   108

In [39]:
# combine disease and dead by disease 
disease_totals <- summary_sctld %>%
    filter(health_status %in% c('Diseased','SCTLD_Mortality')) %>%
    select(-health_status) %>%
    summarise(across(everything(), sum)) %>%
    mutate(health_status = "Diseased") %>%
    select(everything())
# drop cols
healthy_sctld<-sctld_summarytable %>%
    filter(!health_status %in% c('Diseased','SCTLD_Mortality'))
#combine 
sctld_summarytable2 <- bind_rows(healthy_sctld,disease_totals) %>%
    arrange(factor(health_status, levels = c('Healthy','Diseased','Total')))
sctld_summarytable2

  health_status MCAV MMEA OANN OFAV PAST PSTR Total
1 Healthy       16    0   5    10   20   13    64
2 Diseased      14   10   1     1    0   18    44
3 Total         30   10   6    11   20   31   108

In [ ]:
#### all tagged summary

In [51]:
# filter for colonies tagged pre 2024  
allsctld_colony<-colony %>%
    filter(!str_detect(Date_InitialTag, "/24"))

In [43]:
unique(allsctld_colony$Date_InitialTag)

 [1] "6/21/19"  "10/15/19" "6/26/19"  "5/21/22"  "5/25/22"  "12/5/22"
 [7] "6/25/19"  "6/22/19"  "10/13/19" "6/23/19"  "10/14/19" "5/20/22"
[13] "12/3/22"

In [52]:
# define health statuses
allsctld_colony <- allsctld_colony %>%
  mutate(
    health_status = case_when(
      if_any(any_of(cols), ~ str_detect(., "Dead")) ~ "SCTLD_Mortality",
      if_any(any_of(cols), ~ str_detect(., "Healthy")) ~ "Healthy",
      if_any(any_of(cols), ~ str_detect(., "Diseased")) ~ "Diseased",
      TRUE ~ "Healthy"
    )
  )

# summarize 
summary_allsctld <- allsctld_colony %>%
  group_by(Species, health_status) %>%
  summarise(n = n(), .groups = "drop") %>%
  pivot_wider(names_from = Species, values_from = n, values_fill = 0)%>%
# add totals per health status 
  mutate(Total = rowSums(across(-c(health_status))))

# Add row totals per Status
allstatus_totals <- summary_allsctld %>%
  select(-health_status) %>%
  summarise(across(everything(), sum)) %>%
  mutate(health_status = "Total") %>%
  select(everything())

# Combine
allsctld_summarytable <- bind_rows(summary_allsctld, allstatus_totals) %>%
    arrange(factor(health_status, levels = c('Healthy','Diseased','SCTLD_Mortality','Total')))
allsctld_summarytable

  health_status   CNAT DLAB MCAV MMEA OANN OFAV PAST PSTR SSID Total
1 Healthy         1    7    13    0   4    8    17   13   21    84
2 Diseased        0    0     3    0   2    1     0    3    0     9
3 SCTLD_Mortality 0    0    11   12   0    0     0   15    2    40
4 Total           1    7    27   12   6    9    17   31   23   133

In [ ]:
# why is there 17 past here but my subset has 20 lol

In [61]:
# compare past colonies 
all_past<-allsctld_colony %>%
    filter((Species == 'PAST') & (health_status == 'Healthy'))

past_subset<-sctld_colony %>%
    filter((Species == 'PAST') & (health_status == 'Healthy'))
print(unique(all_past$colony_id))
print(length(unique(all_past$colony_id)))

 [1] "T1_2_PAST"      "T1_19_PAST"     "T2_47_PAST"     "T2_56_PAST"
 [5] "T2_57_PAST"     "T2_63_PAST"     "T2_68_PAST"     "T2_347_PAST"
 [9] "T3_6_PAST"      "T3_7_PAST"      "T3_8_PAST"      "T3_10_PAST"
[13] "T3_13_PAST"     "T3_18_PAST"     "T3_24_PAST"     "T3_34_PAST"
[17] "T3_12flag_PAST"
[1] 17

In [62]:
print(unique(past_subset$colony_id))
print(length(unique(past_subset$colony_id)))
# missing t1 13, t1 20, t1 21

 [1] "T1_2_PAST"      "T1_13_PAST"     "T1_19_PAST"     "T1_20_PAST"
 [5] "T1_21_PAST"     "T2_47_PAST"     "T2_56_PAST"     "T2_57_PAST"
 [9] "T2_63_PAST"     "T2_68_PAST"     "T2_347_PAST"    "T3_6_PAST"
[13] "T3_7_PAST"      "T3_8_PAST"      "T3_10_PAST"     "T3_13_PAST"
[17] "T3_18_PAST"     "T3_24_PAST"     "T3_34_PAST"     "T3_12flag_PAST"
[1] 20

In [72]:
allsctld_colony %>%
  filter(colony_id == 'T1_13_PAST')
# where did this get filtered out??

Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     ...1 Date_InitialTag Transect TransectNum OldTagNum NewTagNum Species
     Meter Meters_90 Direction ⋯ 122024_Condition 122024_Percentage
     Notes_122024 062025_Condition 062025_Percentage Notes_062025 immune_y/n
     checked_colonies colony_id health_status

In [70]:
sctld_colony %>%
  filter(colony_id == 'T1_13_PAST')

  ...1 Date_InitialTag Transect TransectNum OldTagNum NewTagNum Species Meter
1 13   6/24/19         CBC30N   1           395       13        PAST    15.8
  Meters_90 Direction ⋯ 122024_Condition 122024_Percentage Notes_122024
1 1.4       right     ⋯ Dead             NA                5% mortality
  062025_Condition 062025_Percentage Notes_062025 immune_y/n checked_colonies
1 NA               NA                NA           y          x
  colony_id  health_status
1 T1_13_PAST Healthy